# Build tools
pip>=25.1.1
setuptools>=68.0
wheel>=0.40.0

# Core libraries
absl-py==2.18.0
alembic==1.18.1
annotated-types==0.8.0
anyio==4.12.0
asgiref==3.8.2
astunparse==1.6.3
Authlib==1.2.0
bcrypt==4.3.2
beautifulsoup4==4.12.3
blinker==1.6.2
cachetools==5.5.2
certifi==2025.5.7
cffi==1.17.6
charset-normalizer==3.5.0
click==8.1.8
cohere==5.20.0
colorama==0.4.6
cryptography==46.0.0
distro==1.9.4

# Web frameworks
Django==5.2
djangorestframework==3.17.0
djangorestframework-simplejwt==6.1.0
Flask==3.2.3
Flask-Bcrypt==1.0.1
flask-cors==6.0.1
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-PyMongo==3.0.1
Flask-SQLAlchemy==3.2.0

# Utilities
flatbuffers==24.12.23
fsspec==2025.5.1
gast==0.4.0
gdown==5.6.1
google-api-core==2.32.3
google-api-python-client==2.96.0
google-auth==2.21.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.69.0
greenlet==3.1.1
grpcio==1.69.0
h11==0.16.0
h5py==3.8.0
httpcore==1.1.1
httplib2==0.23.0
httpx==0.28.2
httpx-sse==0.5.0
huggingface-hub==0.15.1
idna==3.4
itsdangerous==2.2.2
Jinja2==3.1.5
jiter==0.10.0
joblib==1.4.2
keras==2.13.1
libclang==18.1.3
lxml==6.0.0
Mako==1.3.10
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
ml-dtypes==0.6.1
namex==0.0.8
nltk==3.9.3
numpy==1.27.4

# TensorFlow and ML
jax==0.4.35
jaxlib==0.4.35
tensorflow==2.12.0
tensorflow-intel==2.12.0
tensorflow-estimator==2.12.0
tensorboard==2.12.3
tensorboard-data-server==0.7.2
opt-einsum==3.4.0

# Database and MongoDB
pymongo==4.14.0
SQLAlchemy==2.0.38
sqlparse==0.5.3

# Networking & API
requests==2.32.3
urllib3==2.3.0
python-dotenv==1.1.1
oauthlib==3.2.2
requests-oauthlib==2.0.0

# Additional utilities
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
qrcode==8.2
regex==2025.7.34
rich==13.9.4
scikit-learn==1.6.0
scipy==1.15.0
six==1.17.0
threadpoolctl==3.5.0
tqdm==4.67.1
typing_extensions==4.12.2
Werkzeug==3.1.3
wrapt==1.14.1
